<div class="feedback">
    <div class="container">
        <div class="row">
            <div class="feedback__inner">
                <div class="feedback__header">ПО&nbsp;ВОПРОСАМ ОРГАНИЗАЦИИ И&nbsp;ОФОРМЛЕНИЯ ЗАЛА
                    ОСТАВЬТЕ СВОИ КОНТАКТНЫЕ ДАННЫЕ И&nbsp;МЫ&nbsp;ВАМ ПЕРЕЗВОНИМ
                </div>
                <form action="" class="feedback__form">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-3">
                        <input type="text" placeholder="Ваше имя">
                    </div>
                    <div class="col-lg-3">
                        <input type="text" placeholder="Контактный телефон">
                    </div>
                    <div class="col-lg-3">
                        <input type="submit" value="ЗАКАЗАТЬ ЗВОНОК">
                    </div>
                    <div class="col-lg-2"></div>
                </form>
            </div>
        </div>
    </div>
</div>