<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"><img class="header__logo" src="img/logo.svg" alt=""></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="header__location">
                    <img src="img/location.svg" alt="">Астана, ул. Жанажол, 4
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <a class="header__phone" href="tel:+77476760549"><img src="img/phone.svg" alt="">+7 747 676 05 49</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <button class="header__btn popap_box" data-body="reg">ЗАКАЗАТЬ ЗВОНОК</button>
            </div>
        </div>
    </div>
</header>