<div class="slider">
    <div id="myCarousel2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="col-lg-4"><img src="img/slider.jpg" alt="" /></div>
                <div class="col-lg-4"><img src="img/slider.jpg" alt="" /></div>
                <div class="col-lg-4"><img src="img/slider.jpg" alt="" /></div>
            </div>
            <div class="item">
                <div class="col-lg-4"><img src="img/slider.jpg" alt="" /></div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel2" data-slide="prev"><span
                class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel2" data-slide="next"><span
                class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>