.header {
	position: relative;
	padding: 14px;
	&::after {
		display: block;
		content: "";
		clear: both;
	}
	&__location{
		margin-top: 22px;
		vertical-align: middle;
		color: #2E2E2E;
		font-size: 14px;
		img{
			margin-right: 5px;
		}
	}
	&__phone{
		display: block;
		margin-top: 22px;
		vertical-align: middle;
		color: #2E2E2E;
		font-size: 14px;
		text-decoration: none;
		img{
			margin-right: 5px;
		}
	}
	&__btn {
		background-color: #CE9256;
		width: 255px;
		height: 45px;
		margin-top: 10px;
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		outline:none;
		border: none;
		border-radius: 20px;
	}
}